
@{
    ViewBag.Title = "Create";
}
<form method="post">
    <h2>Create Catagory</h2>
    <label>Name</label>
    <input name="Name"/>
    <br />
    <label>Description</label>
    <input name="Description"/>
    <br />
    <button type="submit">Submit</button>
</form>