@model Product
@{
    ViewBag.Title = "Edit";
}

<h2>@Model.Id</h2>

<form method="post">
    <h2>Edit Product</h2>
    <label>Name</label>
    <input name="Name" value="@Model.Name"/>
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description"/>
    <br />
    <label>Price</label>
    <input name="Price" value="@Model.Price"/>
    <br />
    <button type="submit">Submit</button>
</form>