@model List<Product> 
@{
    ViewBag.Title = "Listing";
}
<form method="post" >
    <input id="searchTxt" name="search"/>
    <button id="searchBtn" type="button">Search</button>
</form>

<div >
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                @*<th scope="col">Description</th>*@
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <th>@product.Id</th>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>
                        <button type="button" class="btn btn-warning">View</button>
                        <a href="@Url.Action("Edit", "Product", new { id = product.Id })" class = "btn btn-primary">Edit</a>

                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>

                </tr>
            }


        </tbody>
    </table>
</div>

<script>
    $("#searchBtn").click(() => {
        var searchValue = $("#searchTxt").val()

        $.ajax({
            url: "Product/Listing",
            data: { search: searchValue }
        }).done(function (data) {
            $(".tableContainer").html(data);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Failed");
           
        });

    })


</script>